services:
  web:
    build: .
    container_name: flask_app
    ports:
      - "5000:5000"
    depends_on:
      - db

  db:
    image: redis:alpine
    container_name: redis_db
    restart: always
    volumes:
      - redis_data:/data

volumes:
  redis_data:
